<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->

<!--    <bean class="de.marshal.javaspringcw.entities.helloworld.HelloWorld" id="helloWorld" scope="prototype"/>-->

<!--    <bean class="de.marshal.javaspringcw.entities.helloworld.Country" id="germany" >-->
<!--        <property name="name" value="Germany"/>-->
<!--        <property name="code" value="DE"/>-->
<!--    </bean>-->
<!--    <bean class="de.marshal.javaspringcw.entities.helloworld.Country" id="france" >-->
<!--        <property name="name" value="France"/>-->
<!--        <property name="code" value="FR"/>-->
<!--    </bean>-->
<!--    <bean class="de.marshal.javaspringcw.entities.helloworld.Person" id="person1" >-->
<!--        <property name="name" value="Tom"/>-->
<!--        <property name="age" value="25"/>-->
<!--        <property name="country" ref="germany"/>-->
<!--    </bean>-->
<!--    <bean class="de.marshal.javaspringcw.entities.helloworld.Person" id="person2" >-->
<!--        <property name="name" value="Bob"/>-->
<!--        <property name="age" value="23"/>-->
<!--        <property name="country" ref="france"/>-->
<!--    </bean>-->
<!--</beans>-->